<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/style.css" rel="stylesheet"/> 
    <title>Tarefas | Project</title>
</head>
<body>
    <div class= 'tarefas'>
        <form method="post">
            <input type="text" name="novaTarefa" placeholder="Inserira uma nova tarefa" class="input" />
            <input type="submit" name="send" value="inserir" class="btn"/>
        </form>
        <h2>MINHAS TAREFAS</h2>
        <% for(let i = 0; i < tarefasList.length; i++) { %>
            <p><%= tarefasList[i] %> | <a href="/deletar/<%= i %>">x</a></p> 
        <% } %>
    </div>
</body>
</html>